
    <h1>Classe & bulletin</h1>

    <form action="{{ path('etude_edit', {'id' : etude.id}) }}" method="post" enctype="multipart/form-data">

        <div class="col-lg-12">
            <div class="form-group">
                <label for="l15">Classe</label>
                {{ form_widget(edit_form.classe) }}

            </div>
        </div>




        <div class="col-lg-12">
            {% if null == etude.bulletin %}
                <div class="alert alert-info fade in alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <strong>Info!</strong> Cette elève n'a pas encore de bulletin.
                </div>
            {% else %}
                <div class="alert alert-warning fade in alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                    <strong>Warning!</strong> Cette elève à déjà un bulletin, si vous ajouter un nouveau l'ancien sera écraser.
                </div>
            {% endif %}


            <div class="form-group">
                <label for="l15">Mettre le bulletin en ligne</label>
                {{ form_widget(edit_form.myFile) }}

            </div>
        </div>



        {{ form_widget(edit_form._token) }}
        <br>
        <input class="btn width-150 btn-primary icmn-plus-circle" type="submit" value="Edit" />
    </form>


    {% block javascripts %}
    <script>
        $(function() {

            $('.dropify').dropify();

        });
    </script>
    {% endblock %}




