<form action="{{ path('eleve_edit', { 'id': eleve.id }) }}" method="post">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title color-black-ecole"><i class="fa fa-file-pdf-o color-black-ecole" aria-hidden="true"></i> Choisissez une classe</h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="form-group">

                        <label>Classe</label>
                        {{ form_widget(form.currentClasse) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-perso icmn-plus-circle"> Affecter</button>
        <button type="button" class="btn btn-default icmn-cancel-circle" data-dismiss="modal"> Annuler</button>
    </div>
    {{ form_widget(form._token) }}
</form>